<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>List</title>
  <style>
    td {
      text-align: center;
    }
  </style>
</head>

<body>
  <table style="width: 100%">
    <a href="/insert">Insert</a>
    <tr>
      <th>삭제</th>
      <th>수정</th>
      <th>아이디</th>
      <th>이름</th>
      <th>전화번호</th>
      <th>시리즈</th>
    </tr>
    <% result.forEach((el, idx)=> { %>
      <tr>
        <td><button type="button" id=<%="delete-btn" +idx %>>삭제</button></td>
        <td><button type="button" id=<%="update-btn" +idx %>>수정</button></td>
        <td>
          <%= el.id %>
        </td>
        <td>
          <%= el.name %>
        </td>
        <td>
          <%= el.number %>
        </td>
        <td>
          <%= el.series %>
        </td>
      </tr>
      <% }); %>
  </table>
</body>
<script>
  const deleteBtns = document.querySelectorAll("button");
  deleteBtns.forEach((el, idx) => {
    el.addEventListener("click", () => {
      deleteRow();
    })
  })
</script>

</html>