<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>List</title>
  <style>
    td {
      text-align: center;
    }
  </style>
</head>

<body>
  <table style="width: 100%">
    <a href="/insert">Insert</a>
    <tr>
      <th>삭제</th>
      <th>수정</th>
      <th>아이디</th>
      <th>이름</th>
      <th>전화번호</th>
      <th>시리즈</th>
    </tr>
    <% result.forEach((el, idx)=> { %>
      <tr>
        <td><a href="/delete/<%= el.id %>">삭제</a></td>
        <td><a href="/edit/<%= el.id %>">수정</a></td>
        <!-- <td><button type="button" class="delete-btn">삭제</button></td> -->
        <td class="idx">
          <%= el.id %>
        </td>
        <td>
          <%= el.name %>
        </td>
        <td>
          <%= el.number %>
        </td>
        <td>
          <%= el.series %>
        </td>
      </tr>
      <% }); %>
  </table>
</body>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
  const deleteBtns = document.querySelectorAll('.delete-btn');
  deleteBtns.forEach((el) => {
    el.addEventListener("click", () => {
      const idx = el.parentElement.parentElement.querySelector('.idx').innerHTML;
      
      $.ajax({
      type: "POST", //요청 메소드 방식
      url:"/delete",
      data:{idx},
      success : function(_result){
        console.log('완료');
        window.location.reload();
      },
      error : function(a, b, c){
        console.log('망함');
      }
    });
    })
  })


</script>

</html>