<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <h1>유저 페이지</h1>
    <ul>
      <% data.forEach(user => { %>
      <li class="item">
        <span class="name"><%= user.name %></span>님, <%= user.age %>세, 메세지: <%= user.msg %> <input type="text" class="text" /><button class="item-btn">등록</button>
        <a class="view-btn" href="/view/<%= user.name %>">등록한 글 보러 가기</a>
        <% }) %>
      </li>
    </ul>
  </body>
  <script>
    // ㅜ dom이 모두 생겼을 때
    window.addEventListener("load", () => {
      //
      let items = document.querySelectorAll(".item");
      items.forEach((el) => {
        //
        el.querySelector(".item-btn").addEventListener("click", () => {
          //
          let text = el.querySelector(".text").value;
          let name = el.querySelector(".name").innerHTML;

          $.ajax({
            // ㅜ 요청할 url
            url: "/create_post",
            //
            // ㅜ 요청 방식
            type: "post",
            //
            // ㅜ 전달할 데이터
            data: { name, text }
          });
          el.querySelector(".text").value = "";
        });
      });
    });
  </script>
</html>
